@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    37 fallon st<br />
    Brunswick, VIC, Australia<br />
    <abbr title="Phone">Phone:</abbr>
    0469757186
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:caopengau@gmail.com">caopengau@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:caopengau@gmail.com">caopengau@gmail.com</a>
</address>